
.piece {
  display: none;
}

.undefinedToken {
  background-color: yellow;
  color: red;
  font-family: Inconsolata, monospace;
}

#console_text {
  width: 100%;
  height: 300px;
  font-family: Inconsolata, monospace;
  display: none;
}

.r {
  font-family: "Arial Narrow";
  font-size: x-small;
}

.i {
  font-family: "Arial Narrow";
  font-size: x-small;
  color: gray;
}

.step {
  margin-top: 10px;
  margin-bottom: 10px;
}

.step_sent_row {
  width: 100%;
}

.step_label {
  background-color: rgb(255, 255, 204);
  font-size: small;
}

.step_sent {
}

.step_children {
  margin-left: 30px;
}
